<template name="orderBearport">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			<h2>Sort by:</h2>
			<div class="col-sm-2">
			<h3>ATOS</h3>
			<label class="show-500-ATOS">
				<input type="checkbox"> 500
			</label>
			<label class="show-600-ATOS">
				<input type="checkbox"> 600
			</label>
			</div>
			</div>
			<div class="col-md-6"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
					<thead>
						<th class="col-md-3 text-left">Title</th>
						<th class="col-md-3 text-left">Series</th>
						<th class="col-md-1 text-left">List Price</th>
						<th class="col-md-1 text-left">Your Price</th>
						<th class="col-md-1 text-left">Qty</th>
						<th class="col-md-1 text-left"></th>
					</thead>
				{{#each items}}
					{{> bearportItems}}
				{{/each}}
				</table>
			</div>
		</div>
	</div>
</template>

<template name="bearportItems">
	<tbody>
		<tr>
			<td style="vertical-align: middle;">
				<h4>{{Title}}</h4>
				<div style="padding-top: 10px;">
					<h5>
						<span class="label label-info">ATOS: {{ATOS}}</span>
						<span class="label label-info">Lexile: {{Lexile}}</span>
						<span class="label label-info">Guided Reading Level: {{guidedReading}}</span>
					</h5>
				</div>
			</td>
			<td style="vertical-align: middle;">
				<h4>{{Series}}</h4>
			</td>
			<td style="vertical-align:middle;">
				<h4>{{listPrice}}</h4>
			</td>
			<td style="vertical-align: middle;">
				<h4>{{yourPrice}}</h4>
			</td>
			<td style="vertical-align: middle;">
				<input type="text" class="form-control" placeholder="0">
			</td>
			<td style="vertical-align: middle;">
				<button type="submit" class="btn btn-primary">Add to Order</button>
			</td>
		</tr>
	</tbody>
</template>