<template name="orderPage">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Capstone</h1>
				<p>Information about capstone.</p>
				<a class="btn btn-primary" href="{{pathFor 'orderCapstone'}}">Begin Order</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Bearport</h1>
				<p>Information about Bearport.</p>
				<a class="btn btn-primary" href="{{pathFor 'orderBearport'}}">Begin Order</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Lerner</h1>
				<p>Information about Lerner</p>
				<a class="btn btn-primary" href="{{pathFor 'orderLerner'}}">Begin Order</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>Salem</h1>
				<p>Information about Salem</p>
				<a class="btn btn-primary" href="{{pathFor 'orderSalem'}}">Begin Order</a>
			</div>
		</div>
	</div>
</template>