<template name="orderCapstone">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Sort tools</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h4>Title</h4>
			</div>
			<div class="col-md-4">
				<h4>Series</h4>
			</div>
			<div class="col-md-1">
				<h4>Price</h4>
			</div>
			<div class="col-md-2">
				<h4>QTY</h4>
			</div>
		</div>
			{{#each items}}
				{{> capstoneItems}}
			{{/each}}
	</div>
</template>

<template name="capstoneItems">
	<div class="row">
		<div class="col-md-5">
			<h5>{{Title}}</h5>
		</div>
		<div class="col-md-4">
			<h5>{{Series}}</h5>
		</div>
		<div class="col-md-1">
			<h5>{{yourPrice}}</h5>
		</div>
		<div class="col-md-2">
			<form class="form-inline">
				<div class="form-group">
					<label for="itemQty">QTY:</label>
					<input type="text" id="itemQTY" placeholder="0">
				</div>
				<button type="submit" class="btn btn-primary">Add to cart</button>
			</form>
		</div>
	</div>
</template>